<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <img width="400px" height="400px" src="<%= campground.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">$<%= campground.price %>/night</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <%= campground.description %>
                        </li>
                        <li class="list-group-item text-muted">
                            <%= campground.location %>
                        </li>
                        <li class="list-group-item text-muted">
                            Submitted by: <%= campground.author.username %>
                        </li>
                    </ul>
                    <% if(currentUser && currentUser.id==campground.author.id){ %>
                        <div class="card-body">
                            <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-success">Edit</a>
                            <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE"
                                method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> <a href="/campgrounds">Back to campgrounds page</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-6">
                <% for(let review of campground.reviews){ %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= review.title %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                Created by: <%= review.author.username %>
                            </h6>
                            <p class="card-text">
                                <%= review.description %>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Rating:
                                <%= review.rating %>
                            </li>
                            <% console.log('cu',currentUser._id); %>
                            <% console.log('ra',review.author._id); %>
                            <% if(currentUser && currentUser._id.equals(review.author._id)){ %>
                            <li class="list-group-item">
                                <form
                                    action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                    method="post">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>
                        <% if(currentUser){ %>
                            <div class="card">
                                <form class="needs-validation mb-3 card-body"
                                    action="/campgrounds/<%= campground._id %>/reviews" method="post" novalidate>
                                    <div class="mb-3">
                                        <label class="form-label" for="review-title">Title</label>
                                        <input required class="form-control" name="review[title]" id="review-title"
                                            type="text">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="review-description">Description</label>
                                        <input required class="form-control" name="review[description]"
                                            id="review-description" type="text">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="review-rating">Rating</label>
                                        <input required class="form-range" name="review[rating]" min="1" max="5"
                                            id="review-rating" type="range">
                                    </div>
                                    <button class="btn btn-success">Add reveiw</button>
                                </form>
                            </div>
                            <% } %>
            </div>
        </div>
    </div>