<% layout('layouts/boilerplate') %>
    <!-- <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post">
        <input type="text" name="campground[title]" placeholder="title" value="<%= campground.title %>">
        <input type="text" name="campground[location]" placeholder="location" value="<%= campground.location %>">
        <button>submit</button>
    </form> -->
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Edit campground</h1>
            <form novalidate class="container needs-validation" action="/campgrounds/<%= campground.id %>?_method=PUT"
                method="post">
                <div class="row">
                    <div class="mb-3 col-md-7">
                        <label for="name" class="form-label">Name</label>
                        <input required value="<%= campground.title%>" name="campground[title]" type="text"
                            class="form-control" id="name" placeholder="Enter the camp name">
                    </div>

                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input required value="<%= campground.price %>" name="campground[price]" type="text"
                                class="form-control" id="price" placeholder="Enter the camp price">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input required value="<%= campground.image %>" name="campground[image]" type="text"
                        class="form-control" id="image" placeholder="Enter the camp image url">
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input required value="<%= campground.location %>" name="campground[location]" type="text"
                        class="form-control" id="location" placeholder="Enter the camp location">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea required name="campground[description]" type="text" class="form-control" id="description"
                        placeholder="Enter the camp description"><%= campground.description %></textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary">submit</button>
                </div>
            </form>
            <div class="container">
                <a href="/campgrounds/<%= campground._id %>">cancel</a>
            </div>
        </div>
    </div>