<% layout('layouts/boilerplate') %>
    <ul>
        <% for(let campground of campgrounds) {%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-4">
                        <img src="<%= campground.image %>" class="card-img img-fluid">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.title %></h5>
                            <p class="card-text"><%= campground.description %></p>
                            <p class="card-text text-muted"><%= campground.location %></p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>